[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
    <div class="container is-max-widescreen">
        <nav class="level mb-6">
            <div class="level-item has-text-centered">
                <div class="control block">
                    <input class="input has-text-weight-bold has-text-black-bis has-background-link-dark is-link is-light" type="text" placeholder="Search this, that, etc." v-model="query" @keyup="search(0)" />
                </div>
                <!-- <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p> -->
            </div>
        </nav>
        
        <div>
            <section class="hero has-background-primary-dark is-small mb-3">
                <div class="hero-body pt-4 pb-1">
                    <div v-if="brawl_mode">
                        <nav class="level is-mobile my-0">
                            <div v-for="player in players.slice(0,4)" :key="player.id">
                                <div class="level-item has-text-centered mt-1">
                                    <div v-if="(player.id===0) || ((players[player.id-1]).str !== '')">
                                        <input class="input has-text-weight-bold has-text-black-bis has-background-grey-lighter is-link is-light" type="text" :placeholder="'Player ' + (player.id+1)" v-model="player.str" />
                                    </div>
                                    <div v-else>
                                        {{player.str = ""}}
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level is-mobile my-0">
                            <div v-for="player in players.slice(4,8)" :key="player.id">
                                <div class="level-item has-text-centered mt-1">
                                    <div v-if="(players[player.id-1]).str !== ''">
                                        <input class="input has-text-weight-bold has-text-black-bis has-background-grey-lighter is-link is-light" type="text" :placeholder="'Player ' + (player.id+1)" v-model="player.str" />
                                    </div>
                                    <div v-else>
                                        {{player.str = ""}}
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="level is-mobile my-2">
                            <span class="level-left has-text-centered">
                                <h3 class="subtitle has-text-black-bis is-3 has-text-weight-semibold is-size-4-mobile">START A BRAWL</h3>
                            </span>
                            <div class="level-right">
                                <div class="buttons">
                                    [[if _user:]]
                                        <button v-if="publix" class="button is-light has-text-black-bis" @click="set_publix_mode">
                                            <i class="fa fa-unlock"></i><p>&nbsp;</p>
                                            <h6 class="subtitle has-text-black-bis is-7 has-text-weight-semibold">PUBLIC</h6>
                                        </button>
                                        <button v-else class="button is-black has-text-grey" @click="set_publix_mode">
                                            <i class="fa fa-lock"></i><p>&nbsp;</p>
                                            <h6 class="subtitle has-text-grey is-7 has-text-weight-semibold">PRIVATE</h6>
                                        </button>
                                    [[pass]]
                                    <button class="button is-primary">
                                        <h6 class="subtitle has-text-black-bis is-5 has-text-weight-bold" @click="submit">GO</h6>
                                    </button>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div v-else>
                        <nav class="level is-mobile">
                            <div class="level-left"></div>
                            <div v-for="player in players">
                                <div v-if="player.str">
                                    <div class="level-item has-text-centered mx-1">
                                        <div v-if="player.id === 0">
                                            <p class="heading has-text-black is-size-4 has-text-weight-medium is-size-3-fullhd is-size-3-widescreen is-size-6-touch is-size-6-mobile">
                                                <span v-if="showings">{{player.str}}</span>
                                                <span v-else><i class="fa fa-spinner fa-pulse"></i></span>
                                            </p>
                                            <p class="title has-text-black is-size-3 has-text-weight-bold is-size-2-fullhd is-size-2-widescreen is-size-5-touch is-size-5-mobile"><span>{{(player.id+1)}}</span><span v-if="(player.id+1) === 1">st</span><span v-else-if="(player.id+1) == 2">nd</span><span v-else-if="(player.id+1) == 3">rd</span><span v-else>th</span></p>
                                        </div>
                                        <div v-else>
                                            <p class="heading has-text-black-ter is-size-4 has-text-weight-medium is-size-3-fullhd is-size-3-widescreen is-size-6-touch is-size-6-mobile">
                                                <span v-if="showings">{{player.str}}</span>
                                                <span v-else><i class="fa fa-spinner fa-pulse"></i></span>
                                            </p>
                                            <p class="title has-text-black-ter is-size-3 has-text-weight-bold is-size-2-fullhd is-size-2-widescreen is-size-5-touch is-size-5-mobile"><span>{{(player.id+1)}}</span><span v-if="(player.id+1) === 1">st</span><span v-else-if="(player.id+1) === 2">nd</span><span v-else-if="(player.id+1) === 3">rd</span><span v-else>th</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right"></div>
                        </nav>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <button class="button is-primary has-text-centered">
                                    <h6 class="subtitle has-text-black-bis is-5 has-text-weight-bold" @click="clear_players() + set_brawl_mode()">NEW BRAWL</h6>
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
        
        <div v-if="!Array.isArray(results) || !results.length">
            <h2 class="subtitle has-text-link-dark is-2 has-text-centered has-text-weight-semibold my-6">
                TOP 10 BRAWLS
            </h2>
            <div v-for="(brawl, bindex) in brawls">
                <section class="hero has-background-link-dark is-small mb-3">
                    <div class="hero-body">
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <div class="level-item">
                                    <h3 class="title is-3 has-text-black-bis has-text-weight-bold is-size-1-fullhd is-size-2-widescreen is-size-4-touch is-size-4-mobile">
                                        {{brawl.count}}
                                    </h3>
                                </div>
                            </div>
                            <div v-for="(name, index) in brawl._item_name">
                                <div class="level-item has-text-centered mx-1">
                                    <div>
                                        <p class="heading has-text-black-bis is-size-4 has-text-weight-medium is-size-3-fullhd is-size-3-widescreen is-size-6-touch is-size-6-mobile">{{name}}</p>
                                        <p>
                                            <span class="title has-text-black-bis is-size-4 has-text-weight-bold is-size-2-fullhd is-size-2-widescreen is-size-6-touch is-size-6-mobile">{{kFormatter(brawl._num_of_wins[index])}}</span>
                                            <span class="title has-text-black-bis is-size-6 has-text-weight-semibold is-size-5-fullhd is-size-5-widescreen is-size-7-touch is-size-7-mobile">
                                                <span v-if="brawl._num_of_wins[index] == 1">win</span>
                                                <span v-else>wins</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right"></div>
                        </nav>
                        <nav class="level is-mobile ">
                            <div class="level-left">
                                <div class="level-item has-text-centered">
                                    <button class="button is-warning has-text-centered mr-3">
                                        <h6 class="subtitle has-text-black-bis is-7 has-text-weight-bold" @click="copy_brawl(bindex, 0)">START THIS BRAWL</h6>
                                    </button>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <span v-if="brawl.up" class="icon is-size-3 has-text-primary mr-1 px-1 pt-1" @click="upvote(bindex, 0)"><i class="fa fa-arrow-up"></i></span>
                                <span v-else class="icon is-size-3 has-text-black-bis mr-1 px-1 pt-1" @click="upvote(bindex, 0)"><i class="fa fa-arrow-up"></i></span>
                                <h1 class="subtitle has-text-black-bis is-2 has-text-weight-semibold mx-1">{{kFormatter(brawl.upvotes)}}</h1>
                                <span v-if="brawl.down" class="icon is-size-3 has-text-primary ml-1 px-1 pt-1" @click="downvote(bindex, 0)"><i class="fa fa-arrow-down"></i></span>
                                <span v-else class="icon is-size-3 has-text-black-bis ml-1 px-1 pt-1" @click="downvote(bindex, 0)"><i class="fa fa-arrow-down"></i></span>
                            </div>
                            <div class="level-right">
                                <div class="buttons">
                                    <div class="level-item has-text-centered">
                                        <button v-if="brawl.show_comments && brawl.comments > 0" class="button is-light has-text-centered px-3 ml-1" @click="show_comments(bindex, 0) + clear_comments(bindex, 0)"><span class="icon is-size-3 has-text-black-bis"><i class="fa fa-angle-down"></i></span></button>
                                        <button v-if="!brawl.show_comments && brawl.comments > 0" class="button is-black has-text-centered px-3 ml-1" @click="show_comments(bindex, 0) + get_comments(bindex, 0)"><span class="icon is-size-3 has-text-grey"><i class="fa fa-angle-up"></i></span></button>
                                        <button class="button is-primary has-text-centered px-2">
                                            <h6 class="subtitle has-text-black-bis is-7 has-text-weight-bold" @click="write_comment_mode(bindex, 0, true)">COMMENT</h6>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <section>
                            <nav v-if="brawl.write_comment" class="level is-mobile mb-3">
                                <div class="level-left"></div>
                                <div class="level-item has-text-centered">
                                    <textarea class="textarea" placeholder="Enter comment..." type="text" v-model="brawl.comment"></textarea>
                                </div>
                                <div class="level-right">
                                    <div class="level-item has-text-centered">
                                        <span>
                                            <p>
                                                <button class="button has-background-primary-dark is-grey has-text-centered px-4 mb-2">
                                                    <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="show_comments_post(bindex, 0) + get_comments_before_post(bindex, 0) + write_comment_mode(bindex, 0, false)">POST</h6>
                                                </button>
                                            </p>
                                            <p>
                                                <button class="button has-background-warning-dark is-grey has-text-centered px-2 mt-2">
                                                    <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="write_comment_mode(bindex, 0, false) + empty_comment(bindex, 0)">CANCEL</h6>
                                                </button>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </nav>
                        </section>
                        <div v-for="(comment, cindex) in brawl.comment_array" :key="comment.id">
                            <div v-if="cindex !== ((brawl.load_more * 10) + 11)" class="notification is-primary py-2 mb-3">
                                <h6 class="subtitle has-text-left has-text-black-bis is-7 has-text-weight-semibold">{{comment.comment_user}}</h6>
                                <h6 class="title has-text-left has-text-black-bis is-6 has-text-weight-medium mb-3">{{comment.bcomment}}</h6>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <div class="level-item has-text-centered">
                                            <span v-if="comment.up" class="icon is-size-4 has-text-link-dark mr-1 px-1 pt-1" @click="upvote_comment(bindex, cindex, 0)"><i class="fa fa-arrow-up"></i></span>
                                            <span v-else class="icon is-size-4 has-text-black-bis mr-1 px-1 pt-1" @click="upvote_comment(bindex, cindex, 0)"><i class="fa fa-arrow-up"></i></span>
                                            <h1 class="subtitle has-text-black-bis is-3 has-text-weight-semibold mx-1">{{kFormatter(comment.upvotes)}}</h1>
                                            <span v-if="comment.down" class="icon is-size-4 has-text-link-dark ml-1 px-1 pt-1" @click="downvote_comment(bindex, cindex, 0)"><i class="fa fa-arrow-down"></i></span>
                                            <span v-else class="icon is-size-4 has-text-black-bis ml-1 px-1 pt-1" @click="downvote_comment(bindex, cindex, 0)"><i class="fa fa-arrow-down"></i></span>
                                        </div>
                                    </div>
                                    <div v-if="user_email === comment.created_by" class="level-right">
                                        <div class="level-item has-text-centered">
                                            <button class="button has-background-danger-dark is-grey has-text-centered m-0">
                                                <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="delete_comment(bindex, cindex, 0)">DELETE</h6>
                                            </button>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <button v-if="brawl.comment_array.length > ((brawl.load_more * 10) + 10)" class="button has-background-grey-lighter is-grey has-text-centered m-0 py-2 px-3">
                                    <h6 class="subtitle has-text-black-bis is-6 has-text-weight-bold" @click="(brawl.load_more++) + get_comments(bindex, 0)">LOAD MORE</h6>
                                </button>
                            </div>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
        
        <div v-else>
            <h2 class="subtitle has-text-link-dark is-2 has-text-centered has-text-weight-semibold my-6">RESULTS</h2>
            <div v-for="(r, rindex) in results.slice(0,10)">
                <section class="hero has-background-link-dark is-small mb-3">
                    <div class="hero-body">
                        <nav class="level is-mobile">
                            <div class="level-left"></div>
                            <div v-for="(name, index) in r._item_name">
                                <div class="level-item has-text-centered mx-1">
                                    <div>
                                        <p class="heading has-text-black-bis is-size-4 has-text-weight-medium is-size-3-fullhd is-size-3-widescreen is-size-6-touch is-size-6-mobile">{{name}}</p>
                                        <p>
                                            <span class="title has-text-black-bis is-size-4 has-text-weight-bold is-size-2-fullhd is-size-2-widescreen is-size-6-touch is-size-6-mobile">{{kFormatter(r._num_of_wins[index])}}</span>
                                            <span class="title has-text-black-bis is-size-6 has-text-weight-semibold is-size-5-fullhd is-size-5-widescreen is-size-7-touch is-size-7-mobile">
                                                <span v-if="r._num_of_wins[index] == 1">win</span>
                                                <span v-else>wins</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right"></div>
                        </nav>
                        <nav class="level is-mobile ">
                            <div class="level-left">
                                <div class="level-item has-text-centered">
                                    <button class="button is-warning has-text-centered mr-3">
                                        <h6 class="subtitle has-text-black-bis is-7 has-text-weight-bold" @click="copy_brawl(rindex, 1)">START THIS BRAWL</h6>
                                    </button>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <span v-if="r.up" class="icon is-size-3 has-text-primary mr-1 px-1 pt-1" @click="upvote(rindex, 1)"><i class="fa fa-arrow-up"></i></span>
                                <span v-else class="icon is-size-3 has-text-black-bis mr-1 px-1 pt-1" @click="upvote(rindex, 1)"><i class="fa fa-arrow-up"></i></span>
                                <h1 class="subtitle has-text-black-bis is-2 has-text-weight-semibold mx-1">{{kFormatter(r.upvotes)}}</h1>
                                <span v-if="r.down" class="icon is-size-3 has-text-primary ml-1 px-1 pt-1" @click="downvote(rindex, 1)"><i class="fa fa-arrow-down"></i></span>
                                <span v-else class="icon is-size-3 has-text-black-bis ml-1 px-1 pt-1" @click="downvote(rindex, 1)"><i class="fa fa-arrow-down"></i></span>
                            </div>
                            <div class="level-right">
                                <div class="buttons">
                                    <div class="level-item has-text-centered">
                                        <button v-if="r.show_comments && r.comments > 0" class="button is-light has-text-centered px-3 ml-1" @click="show_comments(rindex, 1) + clear_comments(rindex, 1)"><span class="icon is-size-3 has-text-black-bis"><i class="fa fa-angle-down"></i></span></button>
                                        <button v-if="!r.show_comments && r.comments > 0" class="button is-black has-text-centered px-3 ml-1" @click="show_comments(rindex, 1) + get_comments(rindex, 1)"><span class="icon is-size-3 has-text-grey"><i class="fa fa-angle-up"></i></span></button>
                                        <button class="button is-primary has-text-centered px-2">
                                            <h6 class="subtitle has-text-black-bis is-7 has-text-weight-bold" @click="write_comment_mode(rindex, 1, true)">COMMENT</h6>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <section>
                            <nav v-if="r.write_comment" class="level is-mobile mb-3">
                                <div class="level-left"></div>
                                <div class="level-item has-text-centered">
                                    <textarea class="textarea" placeholder="Enter comment..." type="text" v-model="r.comment"></textarea>
                                </div>
                                <div class="level-right">
                                    <div class="level-item has-text-centered">
                                        <span>
                                            <p>
                                                <button class="button has-background-primary-dark is-grey has-text-centered px-4 mb-2">
                                                    <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="show_comments_post(rindex, 1) + get_comments_before_post(rindex, 1) + write_comment_mode(rindex, 1, false)">POST</h6>
                                                </button>
                                            </p>
                                            <p>
                                                <button class="button has-background-warning-dark is-grey has-text-centered px-2 mt-2">
                                                    <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="write_comment_mode(rindex, 1, false) + empty_comment(rindex, 1)">CANCEL</h6>
                                                </button>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </nav>
                        </section>
                        <div v-for="(rcomment, crindex) in r.comment_array" :key="rcomment.id">
                            <div v-if="crindex !== ((r.load_more * 10) + 11)" class="notification is-primary py-2 mb-3">
                                <h6 class="subtitle has-text-left has-text-black-bis is-7 has-text-weight-semibold">{{rcomment.comment_user}}</h6>
                                <h6 class="title has-text-left has-text-black-bis is-6 has-text-weight-medium mb-3">{{rcomment.bcomment}}</h6>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <div class="level-item has-text-centered">
                                            <span v-if="rcomment.up" class="icon is-size-4 has-text-link-dark mr-1 px-1 pt-1" @click="upvote_comment(rindex, crindex, 1)"><i class="fa fa-arrow-up"></i></span>
                                            <span v-else class="icon is-size-4 has-text-black-bis mr-1 px-1 pt-1" @click="upvote_comment(rindex, crindex, 1)"><i class="fa fa-arrow-up"></i></span>
                                            <h1 class="subtitle has-text-black-bis is-3 has-text-weight-semibold mx-1">{{kFormatter(rcomment.upvotes)}}</h1>
                                            <span v-if="rcomment.down" class="icon is-size-4 has-text-link-dark ml-1 px-1 pt-1" @click="downvote_comment(rindex, crindex, 1)"><i class="fa fa-arrow-down"></i></span>
                                            <span v-else class="icon is-size-4 has-text-black-bis ml-1 px-1 pt-1" @click="downvote_comment(rindex, crindex, 1)"><i class="fa fa-arrow-down"></i></span>
                                        </div>
                                    </div>
                                    <div v-if="user_email === rcomment.created_by" class="level-right">
                                        <div class="level-item has-text-centered">
                                            <button class="button has-background-danger-dark is-grey has-text-centered m-0">
                                                <h6 class="subtitle has-text-white-ter is-7 has-text-weight-bold" @click="delete_comment(rindex, crindex, 1)">DELETE</h6>
                                            </button>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <button v-if="r.comment_array.length > ((r.load_more * 10) + 10)" class="button has-background-grey-lighter is-grey has-text-centered m-0 py-2 px-3">
                                    <h6 class="subtitle has-text-black-bis is-6 has-text-weight-bold" @click="(r.load_more++) + get_comments(rindex, 1)">LOAD MORE</h6>
                                </button>
                            </div>
                        </nav>
                    </div>
                </section>
            </div>
            <nav class="level is-mobile ">
                <div class="level-item has-text-centered">
                    <button v-if="results_page > 0" class="button has-background-black-bis mr-1 p-1">
                        <h1 class="subtitle has-text-grey-lighter is-1 has-text-weight-bold pb-2" @click="search(-1)"><i class="fa fa-angle-left"></i></h1>
                    </button>
                    <h1 v-if="(results_page > 0) || (results.length == 11)" class="subtitle has-text-grey-lighter is-1 has-text-weight-bold mx-1 pb-1">{{results_page+1}}</h1>
                    <button v-if="results.length == 11" class="button has-background-black-bis ml-1 p-1">
                        <h1 class="subtitle has-text-grey-lighter is-1 has-text-weight-bold pb-2" @click="search(1)"><i class="fa fa-angle-right"></i></h1>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_brawls_url = "[[=XML(load_brawls_url)]]";
  let search_url = "[[=XML(search_url)]]";
  let submit_url = "[[=XML(submit_url)]]";
  let copy_brawl_url = "[[=XML(copy_brawl_url)]]";
  let upvote_brawl_url = "[[=XML(upvote_brawl_url)]]";
  let post_comment_url = "[[=XML(post_comment_url)]]";
  let get_comments_url = "[[=XML(get_comments_url)]]";
  let delete_comment_url = "[[=XML(delete_comment_url)]]";
  let upvote_comment_url = "[[=XML(upvote_comment_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
