[[extend "layout.html"]]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
    <div>
        <h3 class="subtitle has-text-link-dark is-3 has-text-weight-semibold py-0 mt-0 mb-6">
            [[=user_name]]'S BRAWLS
        </h3>
        <section class="hero has-background-primary-dark is-small mb-3">
            <div class="hero-body pt-4 pb-1">
                <nav class="level is-mobile my-0">
                    <div v-for="i in 4">
                        <div class="level-item has-text-centered mt-1">
                            <div v-if="(i===1) || (players[i-2] !== '')">
                                <input class="input has-text-weight-bold has-text-black-bis has-background-grey-lighter is-link is-light" type="text" :placeholder="'Player ' + i" v-model="players[i-1]" />
                            </div>
                            <div v-else>
                                {{players[i-1] = ''}}
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="level is-mobile my-0">
                    <div v-for="i in 4">
                        <div class="level-item has-text-centered mt-1">
                            <div v-if="players[i+2] !== ''">
                                <input class="input has-text-weight-bold has-text-black-bis has-background-grey-lighter is-link is-light" type="text" :placeholder="'Player ' + (i+4)" v-model="players[i+3]" />
                            </div>
                            <div v-else>
                                {{players[i+3] = ''}}
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="level is-mobile my-2">
                    <span class="level-left has-text-centered">
                        <h3 class="subtitle has-text-black-bis is-3 has-text-weight-semibold">START A BRAWL</h3>
                    </span>
                    <div class="level-right">
                        <div class="buttons">
                            <button v-if="publix" class="button is-light has-text-black-bis" @click="set_publix_mode">
                                <i class="fa fa-unlock"></i><p>&nbsp;</p>
                                <h6 class="subtitle has-text-black-bis is-7 has-text-weight-semibold">PUBLIC</h6>
                            </button>
                            <button v-else class="button is-black has-text-grey" @click="set_publix_mode">
                                <i class="fa fa-lock"></i><p>&nbsp;</p>
                                <h6 class="subtitle has-text-grey is-7 has-text-weight-semibold">PRIVATE</h6>
                            </button>
                            <!--<button class="button is-danger has-background-danger-dark" @click="clear_players">
                                <h6 class="subtitle has-text-grey-darker is-7 has-text-weight-bold">CLEAR</h6>
                            </button>-->
                            <button class="button is-primary">
                                <h6 class="subtitle has-text-black-bis is-5 has-text-weight-bold" @click="submit">GO</h6>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <div v-for="(result, r_index) in results">
            <section class="hero has-background-link-dark is-small mb-3">
                <div class="hero-body pt-4 pb-0">
                    <nav class="level is-mobile">
                        <div class="level-left"></div>
                        <div v-for="(name, index) in result['names']">
                            <div v-if="name != ''">
                                <div class="level-item has-text-centered mx-1">
                                    <div v-if="index == 0">
                                        <p class="heading has-text-black is-size-3 has-text-weight-medium">{{name}}</p>
                                        <p class="title has-text-black has-text-weight-bold"><span>{{(index+1)}}</span><span v-if="(index+1) == 1">st</span><span v-else-if="(index+1) == 2">nd</span><span v-else-if="(index+1) == 3">rd</span><span v-else>th</span></p>
                                    </div>
                                    <div v-else>
                                        <p class="heading has-text-black-ter is-size-3 has-text-weight-medium">{{name}}</p>
                                        <p class="title has-text-black-ter has-text-weight-bold"><span>{{(index+1)}}</span><span v-if="(index+1) == 1">st</span><span v-else-if="(index+1) == 2">nd</span><span v-else-if="(index+1) == 3">rd</span><span v-else>th</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="level-right"></div>
                    </nav>
                    <nav class="level is-mobile mb-4">
                        <div class="level-left">
                            <div class="buttons">
                                <button class="button is-warning has-text-black-bis" @click="rematch(r_index)">
                                    <h6 class="subtitle has-text-black-bis is-7 has-text-weight-bold">REMATCH</h6>
                                </button>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="buttons">
                                <button v-if="result['public']" class="button is-light has-text-black-bis" @click="set_public_mode(r_index)">
                                    <i class="fa fa-unlock"></i><p>&nbsp;</p>
                                    <h6 class="subtitle has-text-black-bis is-7 has-text-weight-semibold">PUBLIC</h6>
                                </button>
                                <button v-else class="button is-black has-text-grey" @click="set_public_mode(r_index)">
                                    <i class="fa fa-lock"></i><p>&nbsp;</p>
                                    <h6 class="subtitle has-text-grey is-7 has-text-weight-semibold">PRIVATE</h6>
                                </button>
                                <button class="button  is-danger is-dark">
                                    <h6 class="subtitle has-text-black-bis is-4" @click="_delete(r_index)">
                                        <i class="fa fa-trash-o"></i>
                                    </h6>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>
            </section>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let submit_url = "[[=XML(submit_url)]]";
  let load_user_brawls_url = "[[=XML(load_user_brawls_url)]]";
  let rematch_url = "[[=XML(rematch_url)]]";
  let set_public_url = "[[=XML(set_public_url)]]";
  let _delete_url = "[[=XML(_delete_url)]]";
</script>
<script src="js/user.js"></script>
[[end]]